* {
    margin: 0 auto;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 100;
}

strong {
    font-weight: 100;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 30px;
}

.news-paper-body {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 10px

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.newsPost {
    border-color: black;
    border-style: solid;
    border-width: 1px .1px 1px .1px;
    padding: 0px 10px 0px;
    width: 25%;
    flex-grow: 1;
    

}

.newsPost.sections {
    color: rgb(161, 161, 161);
    font-size: 20px;;
    width: 1500px;
}

.nav.politics {
    background-color: rgba(245, 255, 101, 0.986);
    padding: 20px;
}
.nav.tech {
    background-color: rgb(0, 238, 255);
    padding: 20px;
}
.nav.local {
    background-color: hsl(145, 100%, 70%);
    padding: 20px;
}
.nav.opinion {
    background-color: rgb(72, 136, 255);
    padding: 20px;
}
.nav.sports {
    background-color: rgb(220, 145, 255);
    padding: 20px;
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto; 
}